.greetings {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7ed957;
  color: var(--primary-color);
  font-family: "Lilita One";
  border-radius: 1.5rem;
  padding-inline: 1rem;
}

.greetings h1 {
  font-size: 2.5rem;
}

.greetings p {
  font-size: 1.5rem;
}

#sections {
  color: black;
}

.dynamic-inputs{
  width: 85%;
}

.course-row{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.input-holder-info input {
  width: 80%;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 1024px) {
  .greetings {
    display: none;
  }
}

.personal-info h1{
  font-size: 10vmin;
}
